{{ define "main" }}
<div>
  <h1 class="post_title">
    <a href="{{.URL}}">{{.Title}}</a>
  </h1>
  <hr/>
  <p>
    published on {{ .PublishDate.Format "January 2, 2006" }}.
      {{ if .Params.categories }}
        <span class="category-block">
          <strong>Under</strong>
          {{ range .Params.categories }}
            <a class="badge badge-info" href="{{$.Site.BaseURL}}categories/{{. | urlize }}">
              {{ . }}
            </a>
          {{ end }}
           categories.
        </span>
      {{ end}}

  </p>

{{with .TableOfContents }}
<div class="toc">
  <h2>Table of Contents</h2>
  {{ . }}
</div>
{{end}}

  <div class='article'>
    {{.Content}}
  </div>
  <!-- /.article -->

  <div class="text-center py-3">
    {{ if .PrevInSection }}
      <a class="btn btn-info" href="{{.PrevInSection.Permalink}}">Next Post</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="btn btn-info" href="{{.NextInSection.Permalink}}">Previous Post</a>
    {{ end }}
  </div>


</div>
{{ end }}
