<nav class="navbar navbar-expand-lg navbar-light bg-light main_menu">
  <a class="navbar-brand" href="{{ "/" | relURL }}">Learning 101</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{"/" | relURL }}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="search_result_box d-inline my-2">
      <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search..." aria-label="Search">
      <div id='search_result'>
        <ul>
          <li><a href='#'>Lorem ipsum dolor sit amet.</a></li>
          <li><a href='#'>Lorem ipsum dolor sit amet.</a></li>
          <li><a href='#'>Lorem ipsum dolor sit amet.</a></li>
          <li><a href='#'>Lorem ipsum dolor sit amet.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /#search_result -->
</nav>
